<li>
	{{burger_name}}

	<button class="change-eaten waves-effect waves-light btn delete-burger" data-id1="{{id}}" data-burgerEaten="{{makeEaten}}">
		{{#if eaten}}EATEN!{{else}}eat me!{{/if}}

	<i class="fas fa-hamburger material-icons left"></i></button>

	<button class="waves-effect waves-light btn delete-burger" data-id="{{id}}"><i class="fas fa-hamburger material-icons left"></i>DELETE!</button>
</li>
