<li>
	{{burger_name}}

	<button class="change-eaten" data-id="{{id}}" data-burgerEaten="{{makeEaten}}">
		{{#if eaten}}EATEN!{{else}}eat me!{{/if}}

	</button>

	<button class="delete-burger" data-id="{{id}}">DELETE!</button>
</li>
